/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .descript h4 {
    font-size: 18px;
    margin-top: 0;
  }
  header .phone_number a {
    font-size: 16px;
  }
  header .phone_number h3 {
    margin-top: 0;
  }
  header .phone_number p {
    font-size: 11px;
  }
  header .phone_number p span {
    font-size: 16px;
  }
  nav#top_nav #collapse_menu_btn a {
    padding: 11px 9px;
  }
  nav#top_nav #collapse_menu_btn ul {
    margin-bottom: 0;
  }
  section#main .main_header h1 {
    font-size: 25px;
    line-height: 42px;
  }
  section#main h2 {
    font-size: 20px;
  }
  section#main .main_buttons {
    margin-bottom: 50px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .section_header h2 {
    font-size: 18px;
  }
  #top_nav {
    top: 0;
    height: 70px;
    background-color: #fff;
  }
  #top_nav img {
    height: 50px;
    width: 75px;
  }
  #top_nav .menu_btn {
    height: 50px;
    width: 50px;
    float: right;
    padding: 10px;
    background-color: #FF8E29;
    border: 1px solid #FF8E29;
    border-radius: 50%;
  }
  #top_nav ul a {
    width: 100%;
  }
  .nav_container {
    padding: 0;
  }
  #collapse_menu_btn {
    background-color: #fff;
    padding: 0;
  }
  header {
    height: 0;
    padding: 0;
  }
  section#main .main_header h1 {
    font-size: 19px;
    line-height: 34px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  section#main h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  section#main .main_buttons #get_measures {
    padding: 10px 15px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
  }
  section#main .main_buttons #get_types {
    padding: 10px 31px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
  }
  section#types .section_header h2 {
    margin: 20px 0;
  }
  section#types .section_header h4 {
    margin-top: 16px;
    margin-bottom: 0;
  }
  section#types .refact_btn_more {
    width: 213px;
    padding: 0;
  }
  section#types .refact_btn_order {
    width: 213px;
    padding: 0;
    padding-top: 2px;
  }
  section#types button .more_btn {
    width: 213px;
  }
  section#help {
    margin-top: 20px;
    padding-bottom: 25px;
  }
  section#help h2 {
    font-size: 14px;
    margin-bottom: 0;
  }
  section#help p {
    font-size: 12px;
    margin-bottom: 0;
  }
  section#help button {
    font-size: 12px;
    padding: 15px 32px;
  }
  section#help img {
    display: none;
  }
  section#offer {
    padding-top: 35px;
  }
  section#offer img {
    display: none;
  }
  section#offer h4 {
    margin-bottom: 0;
  }
  section#offer h3 {
    margin-top: 0px;
    font-size: 15px;
  }
  section#offer p {
    font-size: 12px;
  }
  section#offer input[name="name"] {
    margin-bottom: 5px;
  }
  section#offer input[name="phone"] {
    margin-bottom: 5px;
  }
  section#feedback .feedback_user {
    padding-left: 60px;
  }
  section#feedback .feedback_img_user {
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-left: 15px;
  }
  section#feedback p {
    margin-left: 10px;
    margin-right: 25px;
    font-size: 12px;
  }
  footer {
    padding-bottom: 35px;
    padding-left: 10px;
  }
  footer h3 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  footer p {
    font-size: 12px;
  }
  footer p#lviv {
    font-size: 14px;
  }
  footer .social_button button {
    font-size: 12px;
    padding: 10px;
  }
  footer .skrypnyk h4 {
    font-size: 10px;
    float: left;
  }
  footer .skrypnyk a {
    padding-top: 7px;
    font-size: 12px;
  }
  #get_measures_modal button[type="submit"] {
    font-size: 14px;
    padding: 16px 0px;
  }
  #get_measures_modal .header_modal h4 {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  #more_horizontal_modal input[name="name"],
  #more_vertical_modal input[name="name"],
  #more_roller_modal input[name="name"],
  #more_pleated_modal input[name="name"] {
    margin-bottom: 5px;
  }
  #more_horizontal_modal input[name="phone"],
  #more_vertical_modal input[name="phone"],
  #more_roller_modal input[name="phone"],
  #more_pleated_modal input[name="phone"] {
    margin-bottom: 5px;
  }
  #more_horizontal_modal button[type="submit"],
  #more_vertical_modal button[type="submit"],
  #more_roller_modal button[type="submit"],
  #more_pleated_modal button[type="submit"] {
    margin-bottom: 15px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .section_header h2 {
    font-size: 18px;
  }
  #top_nav {
    top: 0;
    height: 70px;
    background-color: #fff;
  }
  #top_nav img {
    height: 50px;
    width: 75px;
  }
  #top_nav .menu_btn {
    height: 50px;
    width: 50px;
    float: right;
    padding: 10px;
    background-color: #FF8E29;
    border: 1px solid #FF8E29;
    border-radius: 50%;
  }
  #top_nav ul a {
    width: 100%;
  }
  .nav_container {
    padding: 0;
  }
  #collapse_menu_btn {
    background-color: #fff;
    padding: 0;
  }
  header {
    height: 0;
    padding: 0;
  }
  section#main .main_header h1 {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  section#main h2 {
    font-size: 16px;
    margin-left: 10px;
  }
  section#main .main_buttons #get_measures {
    padding: 10px 15px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
  }
  section#main .main_buttons #get_types {
    padding: 10px 31px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
  }
  section#types .section_header h2 {
    margin: 20px 0;
  }
  section#types .section_header h4 {
    margin-top: 16px;
    margin-bottom: 0;
  }
  section#types .refact_btn_more {
    padding: 0;
  }
  section#types .refact_btn_order {
    padding: 0;
    padding-top: 2px;
  }
  section#help {
    margin-top: 20px;
    padding-bottom: 25px;
  }
  section#help h2 {
    font-size: 14px;
    margin-bottom: 0;
  }
  section#help p {
    font-size: 12px;
    margin-bottom: 0;
  }
  section#help button {
    font-size: 12px;
    padding: 15px 32px;
  }
  section#help img {
    display: none;
  }
  section#offer {
    padding-top: 35px;
  }
  section#offer img {
    display: none;
  }
  section#offer h4 {
    margin-bottom: 0;
  }
  section#offer h3 {
    margin-top: 0px;
    font-size: 15px;
  }
  section#offer p {
    font-size: 12px;
  }
  section#offer input[name="name"] {
    margin-bottom: 5px;
  }
  section#offer input[name="phone"] {
    margin-bottom: 5px;
  }
  section#feedback .feedback_user {
    padding-left: 60px;
  }
  section#feedback .feedback_img_user {
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-left: 15px;
  }
  section#feedback p {
    margin-left: 10px;
    margin-right: 25px;
    font-size: 12px;
  }
  footer {
    padding-bottom: 35px;
    padding-left: 10px;
  }
  footer h3 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  footer p {
    font-size: 12px;
  }
  footer p#lviv {
    font-size: 14px;
  }
  footer .social_button button {
    font-size: 12px;
    padding: 10px;
  }
  footer .skrypnyk h4 {
    font-size: 10px;
    float: left;
  }
  footer .skrypnyk a {
    padding-top: 7px;
    font-size: 12px;
  }
  #get_measures_modal button[type="submit"] {
    font-size: 14px;
    padding: 16px 0px;
  }
  #get_measures_modal .header_modal h4 {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  #more_horizontal_modal input[name="name"],
  #more_vertical_modal input[name="name"],
  #more_roller_modal input[name="name"],
  #more_pleated_modal input[name="name"] {
    margin-bottom: 5px;
  }
  #more_horizontal_modal input[name="phone"],
  #more_vertical_modal input[name="phone"],
  #more_roller_modal input[name="phone"],
  #more_pleated_modal input[name="phone"] {
    margin-bottom: 5px;
  }
  #more_horizontal_modal button[type="submit"],
  #more_vertical_modal button[type="submit"],
  #more_roller_modal button[type="submit"],
  #more_pleated_modal button[type="submit"] {
    margin-bottom: 15px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
