@font-face {
	font-family: "RalewayBold";
	src: url("../fonts/RalewayBold/RalewayBold.eot");
	src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
			 url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayRegular";
	src: url("../fonts/RalewayRegular/RalewayRegular.eot");
	src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
			 url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}
.p0{
	padding: 0;
}

/*BUTTONS*/
.my_btn{
	background-color: #e84545;
	border: none;
	text-transform: uppercase;
	color: #fff;
}
.btn_md{
	padding: 10px 30px;
}
.btn_lg{
	padding: 15px 50px;
}

.soc_btn_grey{
	border: 1px solid #c6cacc;
	color: #c6cacc;
	background-color: transparent;
	width: 30px;
	height: 30px;
}
.soc_btn_white{
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	width: 30px;
	height: 30px;
}

.call_btn{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	background-color: #e84545;
	border: none;
	z-index: 999;
}

/*HEADER*/
header{
	height: 680px;
	background-image: url('../img/banner.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

nav{
	height: 94px;
	line-height: 94px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li{
	display: inline-block;
	padding: 0 30px;
}
.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-family: 'RalewayBold', sans-serif;
}
.menu li a:hover,
.menu li a:focus{
	text-decoration: none;
	color: #e1e1e1;
}
.top_line{
	height: 1px;
	background-color: #e1e1e1;
}
.logo{
	padding-top: 35px;
}

.title_block{
	color: #fff;
	text-align: center;
	margin-top: 200px;
}
.title_block h1{
	font-size: 50px;
	font-family: 'RalewayBold', sans-serif;
	margin-bottom: 30px;
}
.title_block p{
	font-size: 18px;
	margin-bottom: 50px;
}

/*PARAMETRS SECTION*/
.params_s{
	padding: 95px 0;
}
.param_block{
	text-align: center;
	margin-bottom: 50px;
}
.param_block i{
	font-size: 70px;
	color: #e84545;
}
.param_block h3{
	text-transform: uppercase;
	font-family: "RalewayBold", sans-serif;
	font-size: 18px;
}
.param_block p{
	font-size: 14px;
}

/*WORKS SECTION*/
.work_block{
	position: relative;
}
.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232,69,69,.7);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
}
.work_block:hover .image_wrap{
	opacity: 1;
}
.work_descr{
	color: #fff;
	text-align: center;
	margin: auto;
}


/*TEAM SECTION*/
.team_s{
	padding: 95px 0;
	color: #6c7279;
}
.team_item h4{
	font-family: "RalewayBold", sans-serif;
	color: #000;
}
.team_item>span{
	text-transform: uppercase;
	color: #e84545;
	font-size: 14px;
}
.team_item p{
	font-size: 14px;
	padding: 10px 0;
}



/*DOWNLOAD SECTION*/
.download{
	padding: 90px 0;
}
.download_block{
	text-align: center;
}
.download_block h5{
	font-size: 24px;
}
.download_block p{
	font-family: "RalewayBold", sans-serif;
	text-transform: uppercase;
}

/*FOOTER*/
.main_footer{
	padding: 70px 0;
	background-color: #3a3e64;
}
.footer_item{
	text-align: center;
	margin-bottom: 20px;
}
.footer_item h5{
	font-family: "RalewayBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
}
.footer_item p{
	font-size: 14px;
	color: #9d9fb2;
}

.copyright_block{
	background-color: #313454;
	text-align: center;
	padding: 30px 0;
}
.copy_txt{
	color: #9d9fb2;
}



/*MODALS*/
#dlForm{
	width: 70%;
	margin: 0 auto;
}
#dlForm input{
	margin-bottom: 15px;
}



/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.team_item{
		margin-bottom: 30px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	nav{
		height: 60px;
		line-height: 60px;
		background-color: #2a2e48;
		position: fixed;
	}
	.top_line{
		display: none;
	}
	.logo{
		padding-top: 15px;
	}
	.menu_btn{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: #e84545;
		color: #fff;
	}
	.menu_btn span{
		top: -15px;
	}
	#top_menu{
		background-color: #2a2e48;
		padding: 20px 0;
	}
	.menu li{
		display: block;
		text-align: center;
	}
	.menu li a{
		display: block;
	}
	.menu li a:hover{
		background-color: #fff;
		color: #000;
	}

	.title_block{
		margin-top: 130px;
	}
	.team_item{
		margin-bottom: 30px;
	}
	.download{
		padding: 20px 0 50px 0;
	}
	.team_s{
		padding: 60px 0 40px 0;
	}
	#dlForm{
		width: 100%;
	}
	



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	nav{
		height: 60px;
		line-height: 60px;
		background-color: #2a2e48;
		position: fixed;
	}
	.top_line{
		display: none;
	}
	.logo{
		padding-top: 15px;
	}
	.menu_btn{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: #e84545;
		color: #fff;
	}
	.menu_btn span{
		top: -15px;
	}
	#top_menu{
		background-color: #2a2e48;
		padding: 20px 0;
	}
	.menu li{
		display: block;
		text-align: center;
	}
	.menu li a{
		display: block;
	}
	.menu li a:hover{
		background-color: #fff;
		color: #000;
	}

	.title_block{
		margin-top: 130px;
	}

	.title_block h1{
		font-size: 30px;
	}
	.title_block p{
		font-size: 14px;
	}
	.team_item{
		margin-bottom: 30px;
	}
	.download{
		padding: 20px 0 50px 0;
	}
	.team_s{
		padding: 60px 0 40px 0;
	}
	#dlForm{
		width: 100%;
	}
	.call_btn{
		top: 8px;
		right: 60px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	nav{
		height: 60px;
		line-height: 60px;
		background-color: #2a2e48;
		position: fixed;
	}
	.top_line{
		display: none;
	}
	.logo{
		padding-top: 15px;
	}
	.menu_btn{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: #e84545;
		color: #fff;
	}
	.menu_btn span{
		top: -15px;
	}
	#top_menu{
		background-color: #2a2e48;
		padding: 20px 0;
	}
	.menu li{
		display: block;
		text-align: center;
	}
	.menu li a{
		display: block;
	}
	.menu li a:hover{
		background-color: #fff;
		color: #000;
	}

	.title_block{
		margin-top: 130px;
	}

	.title_block h1{
		font-size: 30px;
	}
	.title_block p{
		font-size: 14px;
	}
	.team_item{
		margin-bottom: 30px;
	}
	.download{
		padding: 20px 0 50px 0;
	}
	.team_s{
		padding: 60px 0 40px 0;
	}
	#dlForm{
		width: 100%;
	}
	.call_btn{
		top: 8px;
		right: 60px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}